nav {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 25px 50px;

    h1 {
        color: #FCB712;
    }

    input[type="text"] {
        height: 30px;
        font-size: 18px;
        padding: 5px 40px 5px 15px;
        width: 350px;
    }

    img {
        fill: #660800;
        height: 25px;
        right: 60px;
        position: absolute;
        top: 63px;
    }
}

#carousel {
    background: linear-gradient(to top, black 50%, #660800 50%);
    margin-bottom: 100px;

    .carousel-image {
        height: 60vh;
        max-width: 60%;
    }

    .arrow {
        cursor: pointer;
        height: 50px;
        margin: 10px;
        position: relative;
        top: -25vh;
    }

    hr {
        width: 85%;
    }
}

.share-button {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    margin: 10px auto;
    text-align: right;
    width: 60%;

    .share-button-hover {
        visibility: hidden;

        .social-buttons {
            background-color: #660800;
            display: flex;
            justify-content: center;
            left: 90px;
            padding: 5px 0;
            position: relative;
            top: -100px;
            width: 250px;

            div {
                text-align: center;
            }

            p {
                background-color: white;
                color: black;
                margin: 5px 10px;
                padding: 10px 5px;
                text-align: center;
                width: 50px;
            }

            img {
                max-width: 60px;
            }

        }

        .arrow-down {
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #660800;
            height: 0;
            left: 280px;
            position: relative;
            top: -100px;
            width: 0;
        }

    }

    &:hover .share-button-hover {
        visibility: visible;
    }

    button {
        background-color: #660800;
        border: none;
        color: white;
        display: block;
        height: 40px;
        font-size: 16px;
        letter-spacing: 1px;
        padding: 10px 15px;
        text-align: right;
        -webkit-appearance: none;
    }

    button:hover {
        color: #FCB712;
        cursor: pointer;
    }
}

#grid {
    margin: 0 10px 100px 10px;
    text-align: center;

    hr {
        margin-top: 40px;
        width: 85%;
    }
}

.tile {
    border: 1px solid black;
    display: inline-block;
    height: 200px;
    margin: 20px;
    width: 200px;

    &:hover {
        border: 1px solid #FCB712;
        cursor: pointer;
        opacity: 0.5;
    }

    img {
        height: 200px;
        object-fit: cover;
        width: 200px;
    }
}
