nav {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 25px 50px;

    h1 {
        color: #FCB712;
    }

    input[type="text"] {
        height: 30px;
        font-size: 18px;
        padding: 5px 40px 5px 15px;
        width: 350px;
    }

    img {
        fill: #660800;
        height: 25px;
        right: 60px;
        position: absolute;
        top: 63px;
    }
}

#carousel {
    background: linear-gradient(to top, black 50%, #660800 50%);
    margin-bottom: 100px;

    img {
        width: 60%;
    }

    hr {
        margin-top: 80px;
        width: 85%;
    }
}

.share-button {
    margin: 10px auto;
    text-align: right;
    width: 60%;

    button {
        background-color: #660800;
        border: none;
        color: white;
        display: block;
        float: right;
        font-size: 16px;
        letter-spacing: 1px;
        padding: 10px 15px;
        text-align: right;
        -webkit-appearance: none;
    }
}

#grid {
    margin: 0 10px 100px 10px;
    text-align: center;

    hr {
        margin-top: 40px;
        width: 85%;
    }
}

.tile {
    display: inline-block;
    height: 200px;
    margin: 20px;
    width: 200px;

    img {
        height: 200px;
        object-fit: cover;
        width: 200px;
    }
}
