.carousel {
    background: linear-gradient(to top, black 50%, $maroon 50%);
    margin-bottom: 80px;

    .carousel-image {
        height: 400px;
        max-width: 60%;
        object-fit: cover;

        @media (max-width: 750px) {
            height: 250px;
            max-width: 70%;
        }
    }

    .arrow {
        cursor: pointer;
        height: 50px;
        margin: 10px;
        position: relative;
        top: -25vh;

        @media (max-width: 750px) {
            position: absolute;
            top: 250px;
        }
    }

    hr {
        width: 85%;
    }

    @media (max-width: 750px) {
        .left {
            left: 20px;
        }

        .right {
            right: 20px;
        }
    }
}
