nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    justify-content: space-between;
    padding: 25px 50px;

    h1 {
        color: $yellow;
        margin-right: 50px;

        @media (max-width: 750px) {
            margin: 0 auto;
        }
    }

    label {
        display: none;
    }

    input[type="text"] {
        height: 30px;
        font-size: 18px;
        margin: 10px 0;
        padding: 5px 40px 5px 15px;
        width: 350px;
    }

    img {
        height: 25px;
        right: 60px;
        position: absolute;
        top: 63px;

        @media (max-width: 750px) {
            display: none;
        }
    }
}
