.pagination {
    font-size: 20px;
    margin: 0 auto;
    text-align: right;
    width: 85%;

    a {
        padding: 5px;
    }

    a:hover {
        color: $yellow;
        cursor: pointer;
        text-decoration: underline;
    }
}
